{% extends 'base.html' %}

{% block content %}
<h2>Equipamentos</h2>
<hr>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Nome</th>
            <th>Status</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        {% for equipamento in equipamentos %}
        <tr>
            <td>{{ equipamento.nome }}</td>
            <td>
                {% if equipamento.status == 'Disponível' %}
                    <span class="badge bg-success">Disponível</span>
                {% else %}
                    <span class="badge bg-danger">Emprestado</span>
                {% endif %}
            </td>
            <td>
                {% if equipamento.status == 'Disponível' %}
                    <a href="/pegar/{{ equipamento.id }}" class="btn btn-sm btn-primary">Pegar</a>
                {% else %}
                    <a href="/devolver/{{ equipamento.id }}" class="btn btn-sm btn-warning">Devolver</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
